In [1]:
import pandas as pd

In [2]:
import cx_Oracle

In [4]:
dsn = cx_Oracle.makedsn('localhost',1521,'xe')
print(dsn)

(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SID=xe)))

In [5]:
conn = cx_Oracle.connect('hotel','dbdb',dsn)
print(conn)

<cx_Oracle.Connection to hotel@(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SID=xe)))>

In [6]:
cursor = conn.cursor()
print(cursor)

<cx_Oracle.Cursor on <cx_Oracle.Connection to hotel@(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SID=xe)))>>

In [7]:
sql="""select room_id as "순서",
              room_nm as "객실명",
              room_count as "기준 인원수",
              room_count + 1 as "최대 인원수",
              to_char(room_sale, '999,999') as "1박 가격"
       from room
"""
cursor.execute(sql)

In [8]:
row = cursor.fetchall()
print(row)

[(1, '디럭스룸', 3, 4, ' 180,000'), (2, '비즈니스룸', 3, 4, ' 300,000'), (3, '스위트룸', 3, 4, ' 550,000'), (4, '트윈룸', 5, 6, ' 510,000')]

In [9]:
colname = cursor.description

In [10]:
cursor.close()

In [11]:
conn.close()