In [10]:
import pandas as pd

In [11]:
import cx_Oracle

In [12]:
dsn = cx_Oracle.makedsn('localhost', 1521, 'xe')

In [13]:
conn = cx_Oracle.connect('hotel','dbdb', dsn)

In [14]:
cursor = conn.cursor()

In [15]:
sql = """select post_id as "번호", 
                decode(post_type,
                        1, '문의글',
                        0, '후기글') as "구분", 
                post_title as "제목", 
                mem_id as "글쓴이", 
                post_date as "작성일", 
                post_count as "조회수"
                from post inner join member
                    on(mem_inid = post_mem)
         order by post_id desc

"""
cursor.execute(sql)

In [16]:
row = cursor.fetchall()

In [17]:
colname = cursor.description

In [18]:
cursor.close()

In [19]:
conn.close()

In [20]:
col = []
for i in colname:
    col.append(i[0])

['번호', '구분', '제목', '글쓴이', '작성일', '조회수']

In [24]:
bd = pd.DataFrame(row, columns = col)

      번호   구분         제목            글쓴이        작성일  조회수
0    199  문의글  이 방 넓은가요?         jgewvm 2018-03-17   22
1    198  문의글  이 방 넓은가요?  qyvpcqirfnxtd 2018-10-24   47
2    197  문의글     문의합니다.           rbgu 2018-08-10   67
3    196  문의글  이 방 넓은가요?  andxtslwvlfmm 2020-09-10    7
4    195  후기글       안좋아요    bprxbnsmoxs 2015-04-08   55
..   ...  ...        ...            ...        ...  ...
194    5  후기글  잘 놀다 갑니다.  kdnnwvubvkpaa 2016-11-14   15
195    4  문의글  이 방 넓은가요?    ndwoieijshm 2018-06-19   52
196    3  문의글  이 방 넓은가요?  qyvpcqirfnxtd 2017-06-25   52
197    2  후기글       안좋아요        updeipb 2017-03-06   73
198    1  문의글     문의합니다.          iquod 2017-09-13   72

[199 rows x 6 columns]

SyntaxError: 'return' outside function (3171543198.py, line 1)